{% extends 'layout.html' %}

{% block maincontent %}

<!-- welcome screen -->
<section class="landing-hero">
	<img src="" alt="">
	<h1>{{ h1 }}</h1>
	<a href="{{ url_for('login') }}">Log in</a>
	<a href="{{ url_for('registration') }}">Sign up</a>
	<a href="#landingMain">Learn more</a>
	<span>▽</span>
</section>

{% include "./partials/header.html" %}

<main id="landingMain" class="page-content">
	<section class="card feature">
		<img src="" alt="">
		<h3>Spend time in feline company</h3>
		<p>Small kitty warm kitty little balls of fur carefully drink from water glass and then spill it everywhere and proceed to lick the puddle mice lick plastic bags.</p>
		<a href="{{url_for('registration')}}">Join</a>
	</section>
	<section class="card feature">
		<img src="" alt="">
		<h3>Find humans to look after your cat</h3>
		<p>Lick master's hand at first then bite because im moody run up and down stairs pushed the mug off the table. Jump around on couch, meow constantly.</p>
		<a href="{{url_for('registration')}}">Join</a>
	</section>
	<section class="card feature">
		<img src="" alt="">
		<h3>Do both</h3>
		<p>Let me in let me out let me in let me out let me in let me out who broke this door anyway hack, yet poop in a handbag look delicious and drink the soapy water.</p>
		<a href="{{url_for('registration')}}">Join</a>
	</section>
</main>

{% include "./partials/footer.html" %}

{% endblock maincontent %}
