{% extends "layout.html" %}

{% block maincontent %}

{% include "./partials/header.html" %}

<section>
	<form method="POST" action="">
		{{ form.hidden_tag() }}

		<fieldset>
			<legend>Join the community!</legend>

			<div class="form-group">
				{{ form.username.label(class="form-label visually-hidden") }}

				{% if form.username.errors %}
					{{ form.username(class="form-feedback error")}}
					<div class="form-feedback-error">
						{% for error in form.username.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.username(class="form-feedback", placeholder="username")}}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.email.label(class="form-label visually-hidden") }}

				{% if form.email.errors %}
					{{ form.email(class="form-feedback error")}}
					<div class="form-feedback-error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.email(class="form-feedback", placeholder="your.email@email.com")}}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.password.label(class="form-label visually-hidden") }}

				{% if form.password.errors %}
					{{ form.password(class="form-feedback error") }}
					<div class="form-feedback-error">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.password(class="form-feedback", placeholder="password") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.confirm_password.label(class="form-label visually-hidden") }}

				{% if form.confirm_password.errors %}
					{{ form.confirm_password(class="form-feedback error") }}
					<div class="form-feedback-error">
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.confirm_password(class="form-feedback", placeholder="confirm password") }}
				{% endif %}
			</div>

			<div class="form-check">
				{{ form.agree(class="form-check-input") }}
				{{ form.agree.label(class="form-check-label")  }}
			</div>
		</fieldset>

		<div class="form-group">
			{{ form.submit(class="submit-btn button") }}
		</div>
	</form>
</section>

<section>
	<small>
		Already with us?
		<a href="{{ url_for('login') }}">Log in</a>
	</small>
	<small>
		* Find 
		<a href="{{ url_for('about') }}">our Terms in the About section</a>
	</small>
</section>

{% include "./partials/footer.html" %}

{% endblock maincontent %}