{% extends 'layout.html' %}

{% block maincontent %}

{% include "./partials/header.html" %}

<main>
	<!-- UPDATE PROFILE FORM -->

	<form method="POST" action="" enctype="multipart/form-data">
		{{ form.hidden_tag() }}

		<img src="{{ profile_image }}" alt="user image" class="profile-image">

		<!-- NAME -->
		<div class="form-group">
			{{ form.name.label(class="form-label visually-hidden") }}

			{% if form.name.errors %}
				{{ form.name(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.name.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.name(class="form-feedback", placeholder="Your Name")}}
			{% endif %}
		</div>

		<!-- USERNAME -->
		<div class="form-group">
			{{ form.username.label(class="form-label visually-hidden") }}

			{% if form.username.errors %}
				{{ form.username(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.username.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.username(class="form-feedback", placeholder=username)}}
			{% endif %}
		</div>

		<!-- EMAIL -->
		<div class="form-group">
			{{ form.email.label(class="form-label visually-hidden") }}

			{% if form.email.errors %}
				{{ form.email(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.email.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.email(class="form-feedback", placeholder=email)}}
			{% endif %}
		</div>

		<!-- ADDRESS -->
		<div class="form-group">
			{{ form.address.label(class="form-label visually-hidden") }}

			{% if form.address.errors %}
				{{ form.address(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.address.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.address(class="form-feedback", placeholder="Your address (street/PLZ)")}}
			{% endif %}
		</div>

		<!-- ABOUT -->
		<div class="form-group">
			{{ form.about.label(class="form-label visually-hidden") }}

			{% if form.about.errors %}
				{{ form.about(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.about.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.about(class="form-feedback", placeholder="Tell a little about yourself")}}
			{% endif %}
		</div>

		<!-- PHONE -->
		<div class="form-group">
			{{ form.phone.label(class="form-label visually-hidden") }}

			{% if form.phone.errors %}
				{{ form.phone(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.phone.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.phone(class="form-feedback", placeholder="01234567890")}}
			{% endif %}
		</div>

		<!-- FACEBOOK -->
		<div class="form-group">
			{{ form.facebook.label(class="form-label visually-hidden") }}

			{% if form.facebook.errors %}
				{{ form.facebook(class="form-feedback error") }}
				<div class="form-feedback-rror">
					{% for error in form.facebook.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.facebook(class="form-feedback", placeholder="facebook_username")}}
			{% endif %}
		</div>

		<!-- TELEGRAM -->
		<div class="form-group">
			{{ form.telegram.label(class="form-label visually-hidden") }}

			{% if form.telegram.errors %}
				{{ form.telegram(class="form-feedback error")}}
				<div class="form-feedback-error">
					{% for error in form.telegram.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				{{ form.telegram(class="form-feedback", placeholder="telegram_username")}}
			{% endif %}
		</div>

		<!-- PROFILE IMAGE -->
		<div class="form-group">
			{{ form.picture.label() }}
			{{ form.picture(class="form-control-file") }}
			{% if form.picture.errors %}
			{% for error in form.picture.errors %}
			<span class="text-danger">{{ error }}</span><br>
			{% endfor %}
			{% endif %}
		</div>


		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</main>



{% include "./partials/footer.html" %}

{% endblock maincontent %}