*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.success {
	color: lightgreen;
}
.danger {
	color: coral;
}
.form-feedback-error {
	color: firebrick;
}